.loader_container {
    @extend %fixed-position;
    @extend %flex-center;
    background: rgba(225, 225, 255, 0.8);
    &_item {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border-top: 0.4rem dotted $green;
        border-left: 0.4rem dotted $green;
        border-bottom: 0.4rem dotted $green;
        border-right: 0.4rem solid transparent;
        animation: loader .5s infinite;
        @keyframes loader {
            100% {
                transform: rotate(360deg);
            }
        }
    }
}