$white: #fff;
$orange: #faa;
$black: #000;
$green: #1a8917;
$bgColor: #F9F3F3;
$silver: #efefef;
$silverLight: #e5e7ed;
$silverGrey: #DDDDDD;
$Admin_main_color:#3C5186;
$Admin_color_dark: #1D2231;
$Admin_text_grey: #8390A2;
